<head>
  <title><%= "OuLiPo" %></title>
</head>

<%= javascript_include_tag "application" %>

<%= render :partial => "shared/nav" %>

<div class="margin-10">

  <div class="container ml-0">
    <div class="row">
      <div class="col-6">
        <h3><%= @poem.title %></h3>
        <%= simple_format(@poem.text).html_safe %>
      </div>
      <div id="originalPoem" style="display: none;" class="col-6">
        <h3><%= @poem.title %></h3>
        <%= simple_format(@poem.original).html_safe %>
      </div>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <td>
          <div class="margin-vertical">
            <%= form_tag poem_cycle_nouns_path(@poem.id), method: :post do %>
              <%= submit_tag 'Cycle nouns', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
        <td>

          <div class="margin-vertical">
            <%= form_tag poem_shuffle_nouns_path(@poem.id), method: :post  do %>
              <%= submit_tag 'Shuffle nouns', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="margin-vertical">
            <%= form_tag poem_cycle_adjectives_path(@poem.id), method: :post do %>
              <%= submit_tag 'Cycle adjectives', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="margin-vertical">
            <%= form_tag poem_shuffle_adjectives_path(@poem.id), method: :post  do %>
              <%= submit_tag 'Shuffle adjectives', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="margin-vertical">
            <%= form_tag poem_cycle_lines_path(@poem.id), method: :post  do %>
              <%= submit_tag 'Cycle lines', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
        <td>
          <div class="margin-vertical">
            <%= form_tag poem_shuffle_lines_path(@poem.id), method: :post  do %>
              <%= submit_tag 'Shuffle lines', :class => "btn btn-outline-secondary" %>
            <% end %>
          </div>
        </td>
      </tr>
    </tbody>
      <tr>
        <td>
          <div class="margin-vertical">
            <button onclick="showHideOriginalPoem()" class="btn btn-outline-secondary" id="showOriginalPoem">Show Original</button>
          </div>
        </td>
      </tr>
  </table>
</div>