<%= render "nav" %>

<h1 class="center">All poems</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @poems.each do |poem| %>
      <tr>
        <td><%= poem.title %></td>
        <td><%= simple_format(poem.text).html_safe %></td>
        <td><%= link_to 'Show', poem_path(poem) %></td>
        <td><%= link_to 'Delete', poem_delete_path(poem) %></td>
      </tr>
    <% end %>
  </tbody>
</table>