<%= render "nav" %>

<div class="margin-10">
  <p>
    <strong><%= @poem.title %></strong>
  </p>

  <p>
    <%= simple_format(@poem.text).html_safe %>
  </p>

  <%= form_tag poem_cycle_path(@poem.id), method: :post do %>
    <%= submit_tag 'Cycle nouns' %>
  <% end %>
</div>