<%= render "nav" %>

<div class="margin-10">
  <p>
    <h3><%= @poem.title %></h3>
  </p>

  <p>
    <%= simple_format(@poem.text).html_safe %>
  </p>

  <div class="margin-vertical">
    <%= form_tag poem_cycle_path(@poem.id), method: :post do %>
      <%= submit_tag 'Cycle nouns', :class => "btn btn-outline-secondary" %>
    <% end %>
  </div>
  <div class="margin-vertical">
    <%= form_tag poem_shuffle_path(@poem.id), method: :post  do %>
      <%= submit_tag 'Shuffle nouns', :class => "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>